.titre {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #643300;
  font-size: clamp(26px, 4vw, 36px);
}

.titreh2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #643300;
  font-size: clamp(20px, 4vw, 30px);
  text-align: left;
  margin-left: clamp(50px, 13vw, 250px);
}

.titreh3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #643300;
  font-size: clamp(22px, 4vw, 30px);
  text-align: left;
  margin-left: clamp(25px, 5vw, 120px);
  margin-top: clamp(25px, 6vw, 50px);
}

.titreh4 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #643300;
  font-size: 23px;
  margin: 0 0 15px 0;
}
