.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-button {
  padding: 8px 12px;
  background-color: #ff7f50;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #ff4500;
}

.searchresults h1 {
  font-size: clamp(20px, 5vw, 36px);
}

.recipecard {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Crée 4 colonnes */
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1024px) {
  .recipecard {
    grid-template-columns: repeat(2, 1fr); /* Réduit à 2 colonnes */
  }
}

/* Écrans petits (mobiles, ~480px) */
@media (max-width: 768px) {
  .recipecard {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Une seule colonne pour les très petits écrans */
  }
}

.recipecard p {
  font-size: 20px;
}

.searchresults {
  margin: 30px;
}
