.seconnecter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
}

.seconnecter form div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.seconnecter label {
  width: 30%;
  text-align: left;
  font-size: 14px;
}

.seconnecter input {
  width: 70%;
  padding: 8px;
  border: 1.5px solid #cda274;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.login,
.account {
  flex: 1;
  padding: 20px;
  border: 2px solid #cda274;
  border-radius: 30px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 365px;
}

.buttonForm {
  background-color: #cda274;
  border: none;
  border-radius: 50px;
  padding: 6px 13px;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #ff4d4d;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.modalContent h2 {
  margin-bottom: 20px;
}

.modalContent p {
  margin-bottom: 15px;
}

.modalContent button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #cda274;
  color: white;
}

.modalContent button:hover {
  background-color: #b8835e;
}

@media (max-width: 768px) {
  .seconnecter {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
  }
}
