.histoire p {
  font-size: 18px;
  text-align: justify;
  width: clamp(500px, 55vw, 850px);
  position: relative;
  margin: 30px 35px 30px 35px;
}

.histoire p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffead4;
  filter: blur(50px);
  z-index: -1;
}
