/* SlideRecipe.module.css */

.slide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  gap: 16px;
  transition: transform 0.5s ease-in-out;
}

.navButton {
  background: none;
  border: none;
  font-size: 23px;
  cursor: pointer;
  padding: 8px;
  color: #000;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.navButton:hover {
  transform: scale(1.1);
}

.arrowCircle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: clamp(40px, 5vw, 50px);
  height: clamp(40px, 5vw, 50px);
  border: 2px solid #cda274;
  background-color: #cda274;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  transition: all 0.3s ease;
  margin: 15px;
}

.arrowCircle:hover {
  background-color: #cda274;
  color: #fff;
  border-color: #cda274;
}

@media (max-width: 1024px) {
  .carousel {
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .carousel {
    gap: 10px;
    flex-wrap: wrap; /* Les éléments s'enrouleront si l'espace est limité */
    justify-content: center; /* Centre horizontalement les éléments */
  }
}

@media (max-width: 480px) {
  .carousel {
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center; /* Centre horizontalement les éléments */
  }
}
