.footer {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  color: #643300;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  width: 100%;
  display: flex;
}
.footer .footer-infos {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  color: #643300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  width: 100%;
}

.footer .footer-image {
  padding: 20px 0;
  width: 100vw;
  left: 50%;
  right: 50%;
}

.footer .footer-image .imageFooter {
  width: 100vw;
  height: clamp(140px, 19vw, 300px);
  object-fit: cover;
}

.footer .footer-logo .logo {
  width: clamp(150px, 18vw, 250px);
  height: auto;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  width: clamp(150px, 20vw, 250px);
  height: auto;
}

.footer .pages,
.footer .connexion {
  margin-bottom: clamp(1px, 1vw, 30px);
  width: 20%;
}
.footer .pages p,
.footer .connexion p {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer .pages ul,
.footer .connexion ul {
  list-style: none;
  padding: 0;
}

.footer .pages ul li a,
.footer .connexion ul li a {
  color: #643300;
  text-decoration: none;
  font-size: 14px;
}

.footer .pages ul li a:hover,
.footer .connexion ul li a:hover {
  color: #cda274;
}

.footer .copiright p {
  font-size: 13px;
  text-align: center;
}
