.password {
  border: 2px solid #cda274;
  border-radius: 25px;
  padding: 20px;
  margin: 70px 0 35px 0;
  width: 500px;
}

.password p {
  font-size: 17px;
  margin: 0 40px 20px;
}

.email {
  text-align: left;
  margin: 0 90px;
}

.email label {
  font-size: 18px;
}

.email input {
  font-size: 16px;
  padding: 6px 15px;
  width: 300px;
  border-radius: 25px;
  border: 1px solid #cda274;
}

.reinitialize {
  background-color: #cda274;
  padding: 7px 14px;
  border-radius: 25px;
  margin: 20px 0 5px;
}
.reinitialize:hover {
  background-color: #643300;
}

.returnconnexion a {
  color: #808080;
  text-decoration: none;
}

.returnconnexion a:hover {
  text-decoration: underline;
}
