.recipeCard {
  width: clamp(130px, 20vw, 200px);
  text-align: center;
  background: #fff;
  border-radius: 0 clamp(50px, 10vw, 100px) 0 0;
  border: 2px solid #cda274;
  padding: 11px;
  margin: 10px;
}

.recipeImage {
  width: 100%;
  height: clamp(100px, 13vw, 200px);
  object-fit: cover;
  border-radius: 0 clamp(50px, 10vw, 100px) 0 0;
}

.recipeTitle {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  color: #643300;
  margin: 8px 1px;
  font-size: clamp(14.5px, 1vw, 18px);
  height: 55px;
}

.buttonRecipes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.buttonHeart,
.buttonArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #cda274;
  border-radius: 50px;
}

.buttonHeart.favori {
  color: #643300;
}

.buttonHeart.nonFavori {
  color: #fff;
}
